html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  width: 100%;
  padding: 8px 16px;
  border: 0;
  color: white;
  bottom: 0;
}

button.red {
  background: #ff0000;
}

button.blue {
  background: #0000ff;
}

input {
  width: 100%;
  padding: 6px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 8px 0;
}

header .radio {
  width: 10%;
  display: flex;
}

.wrapper {
  padding: 48px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid black;
}

main .left, .right {
  height: 100%;
  min-height: calc(95vh - 95px);
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  overflow: auto;
}

.left .search {
  width: 100%;
  display: flex;
}

.search input {
  width: 150%;
}

.items {
  flex: auto;
}

.left .item, .right .item {
  display: flex;
  border: 1px solid black;
  padding: 8px;
}

.item input {
  width: max-content;
}

.item label {
  padding: 0 16px;
}

.right .cart-info {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 8px;
}

.cart-info h3 {
  margin: 0;
}

.right .item p {
  margin: 0;
}

.items .empty {
  text-align: center;
  margin: auto;
}